#lesson-basic-page3{
    height: 100vh;
}
#lesson-basic-page3-1{
  height: 100vh;
}

#lesson-basic-page3-2{
  height:100vh;
}

#lesson-basic-page3-3{
  height:100vh;
}
#lesson-basic-page2{
  height: 100vh;
}

#next-prev-button{
  display: flex;
  float: right;
}